{{ define "main" }}
<section class="section color-section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-size-1 has-text-centered">{{ .Title }}</h1>
            </div>
        </div>
    </div>
    <div class="container content">
        <p class="has-text-centered">{{ .Description }}</p>
    </div>


    <iframe
        class="mc-contact"
        src="https://us10.list-manage.com/contact-form?u=aa6b1588adefdc96c7a31d231&form_id=883e8af96fa3ab3ea9519987d3d9c784"
        scrolling="no"
    ></iframe>

    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-quarter-desktop is-two-thirds-tablet">
            </div>
        </div>
    </div>
</section>
{{ end }}

