{{ define "main" }}
<section class="section color-section">
    <div class="columns">
        <div class="column">
            <h1 class="title is-size-1 has-text-centered">Media</h1>
        </div>
    </div>
</section>

<section class="section">
    {{ range .Pages }}
    <div class="container block">
        <div>
            <h2 class="title is-size-2">{{ .Title }}</h2>
        </div>
        <h5 class="is-size-5">{{ .Date.Format "January 2, 2006" }}</h5>
        <div class="block">
            {{ .Content }}
        </div>
    </div>
    {{ end }}
</section>
{{ end }}
