{{ define "main" }}
<section class="section color-section">
    <div class="columns">
        <div class="column">
            <h1 class="title is-size-1 has-text-centered">Blog Posts</h1>
        </div>
    </div>
</section>

<section class="section">
    {{ range .Pages }}
    <div class="container block">
        <a href="{{ .RelPermalink }}">
            <h2 class="title is-size-2">{{ .Title }}</h2>
        </a>
        <h5 class="is-size-5">{{ .Date.Format "January 2, 2006" }}</h5>
        <div class="block">
            <p>{{ .Description | markdownify }}</p>

            <a href="{{ .RelPermalink }}">Read more</a>
        </div>
    </div>
    {{ end }}
</section>
{{ end }}
