{{ define "main" }}

<section class="section color-section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-size-1 has-text-centered">{{ .Params.PageTitle }}</h1>
            </div>
        </div>
    </div>
</section>

{{ range .Pages }}
<section class="section color-section">
    <div class="columns is-vcentered">
        <div class="column">
            <div class="columns is-centered is-mobile">
                <div class="column m-5">
                    <figure class="image">
                        {{ partial "image/lazy.html" (dict "Ctx" . "Class" "is-4by5" "Width" 430 "Height" 540 "Src" .Params.Image) }}
                    </figure>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="m-3">
                <h2 class="title">{{ .Params.Title }}</h2>
                <h3 class="subtitle">{{ .Params.Subtitle }}</h3>
                <div class="block">
                    <div>
                        <em>Written by Sandra Hisakuni</em>
                    </div>
                    <div>
                        <em>Illustrated by Sofia Hisakuni</em>
                    </div>
                </div>
                <div class="block has-text-centered">
                    {{ range .Params.Haiku}}
                    <p><strong>{{ . }}</strong><p>
                    {{ end }}
                </div>
                <div class="block">
                    {{ range .Params.Desc }}
                    <p class="block">
                        {{ . }}
                    </p>
                    {{ end }}
                </div>
                <div class="block is-centered has-text-centered">
                    <div>
                        <a class="button is-fullwidth" href="https://itascabooks.com/products/the-northland-beckons-an-illustrated-haiku-journey" target="blank">Order Now</a>
                        <a href="#available-stores">Or find in a bookstore near you</a>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-multiline">
                    {{ range .Params.Tags }}
                    <div class="control">
                        <div class="tags has-addons">
                          <span class="tag tag-key">
                            <span class="icon-text">
                              <span class="icon">
                                <i class="fas"></i>
                                <ion-icon name="{{ .icon }}-outline"></ion-icon>
                              </span>
                              <span>{{ .key }}</span>
                            </span>
                          </span>
                          <span class="tag tag-value">{{ .value }}</span>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <div class="block">
                    <a href="{{ .Params.lesson_plan }}" target="blank">Lesson plan</a> | <a href="{{ .Params.press_kit }}" target="blank">Press kit</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns">
        <div class="column is-centered has-text-centered">
            {{ partial "image/lazy.html" (dict "Ctx" . "Class" "" "Width" 100 "Height" 100 "Src" "https://sandra.imgix.net/images/readers-favorite-high-res.png") }}
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="content">
                <blockquote>
                    <i>"Sandra and Sofia love the wilderness, and that love shines through the writing and illustrations. I cannot recommend this book highly enough; if I could give the book a six-star rating, I would."</i>
                    <div class="is-flex is-justify-content-flex-end">
                        &mdash; Philip Van Heusen, &nbsp;<a href="https://readersfavorite.com/book-review/the-northland-beckons" target="blank">Readers' Favorite</a>
                    </div>
                </blockquote>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <blockquote>
                    <i>"This anthology of poems captures a journey from beginning to end while showing how helpful poetry, particularly Japanese Haiku, can be as a literary device. This would make an excellent teaching tool for young and older students."</i>
                    <div class="is-flex is-justify-content-flex-end">
                        &mdash; Courtnee Turner Hoyle, &nbsp;<a href="https://readersfavorite.com/book-review/the-northland-beckons" target="blank">Readers' Favorite</a>
                    </div>
                </blockquote>
            </div>
        </div>

        <div class="column">
            <div class="content">
                <blockquote>
                    <i>"This anthology of poems captures a journey from beginning to end while showing how helpful poetry, particularly Japanese Haiku, can be as a literary device. This would make an excellent teaching tool for young and older students."</i>
                    <div class="is-flex is-justify-content-flex-end">
                        &mdash; Delene Vrey, &nbsp;<a href="https://readersfavorite.com/book-review/the-northland-beckons" target="blank">Readers' Favorite</a>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<section id="available-stores" class="section color-section">
    <h2 class="title is-2">Where to Buy</h2>

    <div class="columns">
        <div class="column">
            <h3 class="title is-3 subtitle">Bookstores</h3>
            <div class="content">
                <ul>
                    {{ range .Params.Stores }}
                        <li><a href="{{ .website }}" target="blank">{{ .name }}</a> &mdash; {{ .location }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="column">
            <h3 class="title is-3 subtitle">Online</h3>
            <div class="content">
                <ul>
                    {{ range .Params.Websites }}
                        <li><a href="{{ .website }}" target="blank">{{ .name }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
