{{ define "main" }}

<section class="section color-section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-size-1 has-text-centered">Books</h1>
            </div>
        </div>
    </div>
</section>

{{ range .Pages }}
<section class="section color-section">
    <div class="columns is-vcentered">
        <div class="column">
            <div class="columns is-centered is-mobile">
                <div class="column m-5">
                    <figure class="image">
                        {{ partial "image/lazy.html" (dict "Ctx" . "Class" "is-4by5" "Width" 430 "Height" 540 "Src" .Params.Image) }}
                    </figure>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="m-3">
                <h2 class="title">{{ .Params.Title }}</h2>
                <h3 class="subtitle">{{ .Params.Subtitle }}</h3>
                <div class="block">
                    <div>
                        <em>Written by {{ .Params.Author }}</em>
                    </div>
                    <div>
                        <em>Illustrated by {{ .Params.Illustrator }}</em>
                    </div>
                </div>
                <div class="block">
                    {{ .Content }}
                </div>
                <div class="block is-centered has-text-centered">
                    <div>
                        <a class="button is-fullwidth" href="https://itascabooks.com/products/the-northland-beckons-an-illustrated-haiku-journey" target="blank">Order Now</a>
                        <a href="#available-stores">Or find in a bookstore near you</a>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-multiline">
                    {{ range .Params.northland_beckons_tags }}
                    <div class="control">
                        <div class="tags has-addons">
                          <span class="tag tag-key">
                            <span class="icon-text">
                              <span class="icon">
                                <i class="fas"></i>
                                <ion-icon name="{{ .icon }}-outline"></ion-icon>
                              </span>
                              <span>{{ .key }}</span>
                            </span>
                          </span>
                          <span class="tag tag-value">{{ .value }}</span>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <div class="block">
                    <a href="{{ index .Params.files.lesson_plan.Files 0 }}" target="blank">Lesson plan</a> | <a href="{{ index .Params.files.press_kit.Files 0 }}" target="blank">Press kit</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns">
        <div class="column is-centered has-text-centered">
            {{ partial "image/lazy.html" (dict "Ctx" . "Class" "" "Width" 100 "Height" 100 "Src" "https://sandra.imgix.net/images/readers-favorite-high-res.png") }}
        </div>
        <div class="column is-centered has-text-centered">
            {{ partial "image/lazy.html" (dict "Ctx" . "Class" "" "Width" 100 "Height" 100 "Src" "https://sandra.imgix.net/images/silver_moonbeam_medal.png") }}
        </div>
    </div>
    <div class="columns">
        {{ range .Params.reviews }}
        <div class="column">
            <div class="content">
                <blockquote>
                    <i>"{{ .review }}"</i>
                    <div class="is-flex is-justify-content-flex-end">
                        &mdash; {{ .Name }}, &nbsp; {{ .source | markdownify }}
                    </div>
                </blockquote>
            </div>
        </div>
        {{ end }}
    </div>
</section>

<section id="available-stores" class="section color-section">
    <h2 class="title is-2">Where to Buy</h2>

    <div class="columns">
        <div class="column">
            <h3 class="title is-3 subtitle">Bookstores</h3>
            <div class="content">
                <ul>
                    {{ range .Params.Stores }}
                        <li><a href="{{ .Website }}" target="blank">{{ .Name }}</a> &mdash; {{ .Location }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="column">
            <h3 class="title is-3 subtitle">Online</h3>
            <div class="content">
                <ul>
                    {{ range .Params.online_stores }}
                        <li><a href="{{ .Website }}" target="blank">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
